* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 75px;
    gap: 25px;
    background-color: aqua;
}

.new-book {
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 10px;
    border-color: beige;
    background-color:rgb(221, 216, 216);
}

#card-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    padding: 10px;
    width: 200px;
    height: 200px;
    border: 3px solid rgb(175, 170, 170);
    border-radius: 10px;
    background-color: #deb887;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 2fr 1fr 1fr 1fr;
    font-size: 15px;
}

.card img {
    height: 15px;
    width: 15px;
    position: relative;
    left: 165px;
    bottom: 7px;
    filter: brightness(0) saturate(100%) invert(21%) sepia(91%) saturate(7081%) hue-rotate(358deg) brightness(91%) contrast(100%);
}

.card img:hover {
    filter: brightness(0) saturate(100%) invert(62%) sepia(81%) saturate(3886%) hue-rotate(326deg) brightness(96%) contrast(92%);
}

.card h3 {
    align-self: start;
    justify-self: center;
    text-align: center;
}

.card div {
    display: flex;
    gap: 3px;
    align-items: start;
}

.card p {
    font-weight: 500;
}

.card span {
    font-weight: 400;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

form h2 {
    margin-bottom: 15px;
}

form label {
    align-self: start;
}  

form div {
    margin-top: 25px;
}

form button {
    padding: 5px;
}

button + button {
    margin-left: 25px;
}

ul {
    display: flex;
    gap: 10px;
}

li {
    list-style: none;
}